@use '../../sass/variables/vars' as v;

.playlist {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    .name {
        font-size: 4em;
    }

    .video {
        margin-top: 2em;
        height: 30em;
        margin-bottom: 2em;

        @media (min-width: v.$m) {
            height: 15em;
            width: 30em;
        } 


        iframe {
            width: 100%;
            height: 100%;
        }        
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        height: 60em;
        overflow-y: scroll;
        padding-top: 5em;
        padding-bottom: 5em;

        @media (min-width: v.$m) {
            height: 10em;
            width: 20em;
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .thumbnail {
            width: 100%;
            height: 16em;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;

            @media (min-width: v.$m) {
                height: 5em;
                width: 10em;
            } 
        }
    }
}

.list-container {
    position: relative;
}

.gradient-bottom {
    position: absolute;
    width: 100%;
    height: 10em;
    bottom: -1px;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    @media (min-width: v.$m) {
        height: 2em;
    }
}

.gradient-top {
    position: absolute;
    width: 100%;
    height: 10em;
    top: -1px;
    background: linear-gradient(to top, transparent 0%, black 100%);
    @media (min-width: v.$m) {
        height: 2em;
    }
}

